:root {
    --blue-btn: rgb(82, 82, 255);
    --btn-hover: rgb(220, 220, 220);
    --btn-borde: #aeaeae76;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    /* border: 1px solid black; */
}

html {
    font-size: 16px;
    font-family: sans-serif;
}

body {
    background-color: white;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    padding: 0;
    margin: 0;

}

h1 {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgb(134, 192, 47);


    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 6rem;
    font-weight: bold;

    animation: shrink 1s forwards;

    /* display: none; */
}



#login_container {
    width: 40%;

    height: 100%;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    gap: 10px;

    overflow: hidden;

}

#login_form {
    /* background-color: red; */


}

#login_form>input {
    padding: 10px;

    width: 400px;
    font-size: 1.3rem;


    border-radius: 5px;
}

#login_form>label {
    padding: 10px;
    border-radius: 5px;
    letter-spacing: 1px;
}


#btn_container {
    width: 100%;
    display: flex;

    flex-direction: row;
    justify-content: center;
}

#btn_container input {
    width: 100%;
    padding: 15px;
    border: none;
    font-size: 1.3rem;
    font-weight: 800;
    background-color: white;
    border: none;

}

#btn_container input:hover {
    background-color: rgb(220, 220, 220);
}

.login_margin {
    display: block;
    font-size: 1.3rem;
}

.login_spacer {
    margin-top: 40px;
}

#warning-text {
    width: 90%;

    border-radius: 5px;
    padding: 10px 5px;
    margin: 0;
    font-weight: bold;
}


@media (max-width: 1500px) {
    h1 {
        animation-name: shrink2;
    }

    #login_container {
        width: 60%;
    }
}

@media (max-width: 800px) {
    h1 {
        animation-name: shrink3;

    }

    #login_container {
        position: absolute;
        width: 100%;
        height: 70%;
        bottom: 0;

    }
}

@keyframes shrink {
    to {
        width: 60%;
    }
}

@keyframes shrink2 {
    to {
        width: 40%;
    }
}

@keyframes shrink3 {
    to {
        height: 30%;
    }
}